.project-callout-banner {
    @extend .butter;

    background-color: $color-willow-black;
    color: $color-willow-white;
    margin: $space-stack-l;
    padding: $space 0;
    
    @import "container";
    @import "content";
    @import "actions";
    @import "action";
}
