&__content {
    @include compact;

    a {
        color: $color-willow-white;
    }

    @media screen and (min-width: breakpoint(md, $grid-breakpoints)) {
        flex-basis: 80%;
        flex-direction: column;
        margin: $space-inline-s;
    }
}
