// styles for my custom page-title component

.project-title {

    &__container {
        padding-bottom: $space-s;
        padding-top: $space-s;

        .project-title--detailed & {
            display: block;
        }
    }

    &__heading,
    &__action {
        margin: 0;
    }
}