// background color for components/icons demo page
.project-container--contrasted {
    background-color: $color-willow-grey;
    display: inline-block;
    padding: $space-inset;
    margin: $space-stack-l;
}
