&__close {
    border: none;
    border-radius: 100%;
    box-shadow: 0 1px 5px $component-dialog-overlay-background-color;
    cursor: pointer;
    font-weight: 600;
    padding: $space-s;
    position: absolute;
    right: -$space-xs;
    top: -$space-xs;

    .willow-icon & {
        vertical-align: top;
    }
}
