<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Demo Website</title>
        <link id="stylesheet" rel="stylesheet" href="../styles/styles.min.css">
    </head>

    <body data-subpage>
        <div class="willow-page-container">
            <div class="willow-skip-nav">
                <div class="container-fluid">
                    <a href="#main" class="willow-skip-nav__link" aria-label="skip to main content">Skip to Content</a>
                </div>
            </div>
            <div class="project-intro">
                <div class="container-fluid">
                    <form class="project-intro__theme-selector" id="themeSelector">
                        <fieldset>
                            <legend>Change the theme</legend>
                            <label for="greyRadio"><input type="radio" id="greyRadio" name="theme" checked data-stylesheet="styles"/> Greyscale Theme</label>
                            <label for="unumRadio"><input type="radio" id="unumRadio" name="theme" data-stylesheet="unum"/> Unum Theme</label>
                            <label for="colonialLifeRadio"><input type="radio" id="colonialLifeRadio" name="theme" data-stylesheet="coloniallife"/> Colonial Life Theme</label>
                        </fieldset>
                    </form>
                </div>
            </div>
            <header class="willow-page-header" role="banner">
                <div class="container-fluid">
                    <div class="willow-page-header__container">
                        <div class="willow-page-header__branding">
                            <a class="willow-logo-link" href="/willow-testing-site/" aria-label="go to home page">
                                <img class="willow-logo-link__image" src="https://via.placeholder.com/150x150" alt="">
                            </a>
                        </div>
                        <div class="willow-page-header__content-controls">
                            <a class="willow-page-header__content-open" aria-label="Open Menu" href="#">menu</a>
                            <a class="willow-page-header__content-close" aria-label="Close Menu" href="#">close</a>
                        </div>
                        <div class="willow-page-header__content">
                            <div class="willow-page-header__navigation">
                                <nav class="willow-primary-nav" role="navigation" aria-label="primary">
                                    <h1 class="willow-primary-nav__heading sr-only">Site Primary Menu</h1>
                                    <ul class="willow-primary-nav__list">
                                        <li class="willow-primary-nav__item">
                                            <a class="willow-primary-nav__link" href="/willow-testing-site/">Home</a>
                                        </li>
                                        <li class="willow-primary-nav__item">
                                            <a class="willow-primary-nav__link willow-primary-nav__link--active" href="/willow-testing-site/components.html">Components</a>
                                        </li>
                                        <li class="willow-primary-nav__item">
                                            <a class="willow-primary-nav__link" href="/willow-testing-site/example-pages.html">Example Pages</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <nav class="willow-breadcrumbs" role="navigation" aria-label="breadcrumb">
                <div class="container-fluid">
                    <h1 class="willow-breadcrumbs__heading sr-only">You are here:</h1>
                    <ol class="willow-breadcrumbs__list">
                        <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="/willow-testing-site/" aria-label="">Home</a></li>                            
                        <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="/willow-testing-site/components.html" aria-label="">Components</a></li>                            
                        <li class="willow-breadcrumbs__item willow-breadcrumbs__item--active">Buttons</li>
                    </ol>
                </div>
            </nav>
            <main class="willow-page-content" id="main" role="main">
                <div class="container-fluid">
                    <div class="willow-styling-context">
                        <h1>Button</h1>
                        <a href="https://github.com/unumux/willow/tree/master/components/button" target="_blank">Documentation</a>
                        <h2>Made with <code>button</code> tags</h2>
                        <h3>No modifier</h3>
                        <button class="willow-button" disabled>Disabled</button>
                        <button class="willow-button">Default</button>
                        <h3>Primary modifier</h3>
                        <button class="willow-button willow-button--primary">Primary</button>
                        <h3>Positive modifier</h3>
                        <button class="willow-button willow-button--positive">Positive</button>
                        <h3>Negative modifier</h3>
                        <button class="willow-button willow-button--negative">Negative</button>
                        <h3>Ghost modifier</h3>
                        <div class="project-ghost-button-container">
                            <button class="willow-button willow-button--ghost">Ghost</button>
                        </div>
                        <h3>Ghost inverse modifier</h3>
                        <button class="willow-button willow-button--ghost-inverse">Ghost Alternate</button>
                        <h3>CTA modifier</h3>
                        <button class="willow-button willow-button--cta">CTA</button>
                        <h3>All the above with inline modifier added</h3>
                        <button class="willow-button--inline willow-button" disabled>Disabled</button>
                        <button class="willow-button--inline willow-button">Default</button>
                        <button class="willow-button--inline willow-button willow-button--primary">Primary</button>
                        <button class="willow-button--inline willow-button willow-button--positive">Positive</button>
                        <button class="willow-button--inline willow-button willow-button--negative">Negative</button>
                        <div class="project-ghost-button-container project-ghost-button-container--inline">
                            <button class="willow-button--inline willow-button willow-button--ghost">Ghost</button>
                        </div>
                        <button class="willow-button willow-button--inline willow-button--ghost-inverse">Ghost Alternate</button>
                        <button class="willow-button--inline willow-button willow-button--cta">CTA</button>
                        
                        <hr>
                        <h2>Made with <code>anchor</code> tags</h2>
                        <h3>No modifier</h3>
                        <a href="#" class="willow-button" data-disabled="true" aria-disabled="true" aria-label="">Disabled</a>
                        <a href="#" class="willow-button" aria-label="">Button</a>
                        <h3>Primary modifier</h3>
                        <a href="#" class="willow-button willow-button--primary" aria-label="">Primary</a>
                        <h3>Positive modifier</h3>
                        <a href="#" class="willow-button willow-button--positive" aria-label="">Positive</a>
                        <h3>Negative modifier</h3>
                        <a href="#" class="willow-button willow-button--negative" aria-label="">Negative</a>
                        <h3>Ghost modifier</h3>
                        <div class="project-ghost-button-container">
                            <a href="#" class="willow-button willow-button--ghost" aria-label="">Ghost</a>
                        </div>
                        <h3>Ghost inverse modifier</h3>
                        <a href="#" class="willow-button willow-button--ghost-inverse" aria-label="">Ghost Alternate</a>
                        <h3>CTA modifier</h3>
                        <a href="#" class="willow-button willow-button--cta" aria-label="">CTA</a>
                        <h3>All the above with inline modifier added</h3>
                        <a href="#" class="willow-button--inline willow-button" data-disabled="true" aria-disabled="true" aria-label="">Disabled</a>
                        <a href="#" class="willow-button--inline willow-button" aria-label="">Default</a>
                        <a href="#" class="willow-button--inline willow-button willow-button--primary" aria-label="">Primary</a>
                        <a href="#" class="willow-button--inline willow-button willow-button--positive" aria-label="">Positive</a>
                        <a href="#" class="willow-button--inline willow-button willow-button--negative" aria-label="">Negative</a>
                        <div class="project-ghost-button-container project-ghost-button-container--inline">
                            <a href="#" class="willow-button--inline willow-button willow-button--ghost" aria-label="">Ghost</a>
                        </div>
                        <a href="#" class="willow-button--inline willow-button willow-button--ghost-inverse" aria-label="">Ghost Alternate</a>                
                        <a href="#" class="willow-button--inline willow-button willow-button--cta" aria-label="">CTA</a>
                        
                    </div>
                </div>
            </main>       
        </div>
        <script src="../scripts/site.min.js"></script>

    </body>
</html>