<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/styles.min.css">
</head>

<body>
    <div class="willow-page-container">
        <div class="willow-skip-nav">
            <div class="container-fluid">
                <a href="#main" class="willow-skip-nav__link" aria-label="skip to main content">Skip to Content</a>
            </div>
        </div>
        <header class="willow-page-header" role="banner">
            <div class="container-fluid">
                <div class="willow-page-header__container">
                    <div class="willow-page-header__branding">
                        <a class="willow-logo-link" href="/willow-testing-site/" aria-label="go to home page">
                            <img class="willow-logo-link__image" src="https://via.placeholder.com/150x150" alt="">
                        </a>
                    </div>
                    <div class="willow-page-header__content-controls">
                        <a class="willow-page-header__content-open" aria-label="Open Menu" href="#">menu</a>
                        <a class="willow-page-header__content-close" aria-label="Close Menu" href="#">close</a>
                    </div>
                    <div class="willow-page-header__content">
                        <div class="willow-page-header__navigation">
                            <nav class="willow-primary-nav" role="navigation" aria-label="primary">
                                <h1 class="willow-primary-nav__heading sr-only">Site Primary Menu</h1>
                                <ul class="willow-primary-nav__list">
                                    <li class="willow-primary-nav__item">
                                        <a class="willow-primary-nav__link" href="/willow-testing-site/">Home</a>
                                    </li>
                                    <li class="willow-primary-nav__item">
                                        <a class="willow-primary-nav__link willow-primary-nav__link--active" href="/willow-testing-site/components.html">Components</a>
                                    </li>
                                    <li class="willow-primary-nav__item">
                                        <a class="willow-primary-nav__link" href="/willow-testing-site/example-pages.html">Example Pages</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav class="willow-breadcrumbs" role="navigation" aria-label="breadcrumb">
            <div class="container-fluid">
                <h1 class="willow-breadcrumbs__heading sr-only">You are here:</h1>
                <ol class="willow-breadcrumbs__list">
                    <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="/willow-testing-site/" aria-label="">Home</a></li>                            
                    <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="/willow-testing-site/components.html" aria-label="">Components</a></li>                            
                    <li class="willow-breadcrumbs__item willow-breadcrumbs__item--active">Dialog</li>
                </ol>
            </div>
        </nav>
        <main class="willow-page-content" id="main" role="main">
            <div class="container-fluid">
                <div class="willow-styling-context">
                    <h1>Dialog</h1>
                    <a href="https://github.com/unumux/willow/tree/master/components/dialog" target="_blank">Documentation</a>
                    <div>
                        <button class="willow-button willow-button--inline" id="openDialogButton">Open Dialog</button>
                        <button class="willow-button willow-button--inline" id="openComplexDialogButton">Open Custom Dialog</button>
                    </div>
                </div>
            </div>
        </main>
        <div class="willow-dialog" id="dialog">
            <section class="willow-dialog__container" role="dialog">
                <button class="willow-dialog__close"><span class="willow-icon willow-icon--close-inverse"></span></button>
                <h1 class="willow-dialog__heading">Heading Text</h1>
                <div class="willow-dialog__content">
                    <div class="willow-styling-context">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quo dolore ipsa officia
                            expedita tempora, fuga recusandae accusantium laboriosam repellat?</p>
                    </div>
                </div>
                <ul class="willow-dialog__actions">
                    <li class="willow-dialog__action"><button class="willow-button" id="closeDialogButton">Diaglog Action</button></li>
                </ul>
            </section>
        </div>
        <div class="willow-dialog" id="complexDialog">
            <section class="willow-dialog__container" role="dialog">
                <button class="willow-dialog__close"><span class="willow-icon willow-icon--close-inverse"></span></button>
                <h1 class="willow-dialog__heading">Heading Text</h1>
                <div class="willow-dialog__content">
                    <div class="willow-styling-context">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quo dolore ipsa officia
                            expedita tempora, fuga recusandae accusantium laboriosam repellat?</p>
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="firstName">First Name</label><input type="text" id="firstName">
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName">Last Name</label><input type="text" id="lastName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="email">Email Address</label><input type="email" id="email">
                                </div>
                                <div class="col-md-6">
                                    <label for="business">Business Name</label><input type="text" id="business">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="phone">Phone Number</label><input type="text" id="phone">
                                </div>
                                <div class="col-md-6">
                                    <label for="employees">Number of employees</label>
                                    <select name="employees" id="employees">
                                        <option value="1">0 - 25</option>
                                        <option value="2">26 - 100</option>
                                        <option value="3">101 - 500</option>
                                        <option value="4">500 +</option>
                                    </select>
                                </div>
                            </div>
                            <button class="willow-button willow-button--primary willow-button--inline" id="closeComplexDialogButton">Form Action</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../scripts/site.min.js"></script>
</body>
</html>