<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">     
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <title>Demo Website</title>
    <link id="stylesheet" rel="stylesheet" href="../styles/styles.min.css">
</head>

<body data-subpage>
    <div class="willow-page-container">
        <div class="willow-skip-nav">
            <div class="container-fluid">
                <a href="#main" class="willow-skip-nav__link" aria-label="skip to main content">Skip to Content</a>
            </div>
        </div>
        <div class="project-intro">
            <div class="container-fluid">
                <h1 class="project-intro__heading">Demo Site</h1>
                <p>This site was built using the <a href="https://github.com/unumux/willow" target="_blank">Willow library</a> and includes custom components. <a href="https://github.com/unumux/willow-testing-site" target="_blank">Fork the Github repo</a> to play with the code.</p>
                <form class="project-intro__theme-selector" id="themeSelector">
                    <fieldset>
                        <legend>Change the theme</legend>
                        <label for="greyRadio"><input type="radio" id="greyRadio" name="theme" checked data-stylesheet="styles"/> Greyscale Theme</label>
                        <label for="unumRadio"><input type="radio" id="unumRadio" name="theme" data-stylesheet="unum"/> Unum Theme</label>
                        <label for="colonialLifeRadio"><input type="radio" id="colonialLifeRadio" name="theme" data-stylesheet="coloniallife"/> Colonial Life Theme</label>
                    </fieldset>
                </form>
            </div>
        </div>
        <header class="willow-page-header" role="banner">
                <div class="container-fluid">
                    <div class="willow-page-header__container">
                        <div class="willow-page-header__branding">
                            <a class="willow-logo-link" href="/willow-testing-site/" aria-label="go to home page">
                                <img class="willow-logo-link__image" src="https://via.placeholder.com/150x150" alt="">
                            </a>
                        </div>
                        <div class="willow-page-header__content-controls">
                            <a class="willow-page-header__content-open" aria-label="Open Menu" href="#">menu</a>
                            <a class="willow-page-header__content-close" aria-label="Close Menu" href="#">close</a>
                        </div>
                        <div class="willow-page-header__content">
                            <div class="willow-page-header__navigation">
                                <nav class="willow-primary-nav" role="navigation" aria-label="primary">
                                    <h1 class="willow-primary-nav__heading sr-only">Site Primary Menu</h1>
                                    <ul class="willow-primary-nav__list">
                                        <li class="willow-primary-nav__item">
                                            <a class="willow-primary-nav__link" href="/willow-testing-site/">Home</a>
                                        </li>
                                        <li class="willow-primary-nav__item">
                                            <a class="willow-primary-nav__link willow-primary-nav__link--active" href="/willow-testing-site/components.html">Components</a>
                                        </li>
                                        <li class="willow-primary-nav__item">
                                            <a class="willow-primary-nav__link" href="/willow-testing-site/example-pages.html">Example Pages</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <nav class="willow-breadcrumbs" role="navigation" aria-label="breadcrumb">
            <div class="container-fluid">
            <h1 class="willow-breadcrumbs__heading sr-only">You are here:</h1>
            <ol class="willow-breadcrumbs__list">
                <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="/willow-testing-site/" aria-label="">Home</a></li>                            
                <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="/willow-testing-site/components.html" aria-label="">Components</a></li>                            
                <li class="willow-breadcrumbs__item willow-breadcrumbs__item--active">Icons</li>
            </ol>
        </div>
        </nav>
        <main class="willow-page-content" id="main" role="main">
            <div class="container-fluid">
                <div class="willow-styling-context">
                    <h1>Icons</h1>
                    <a href="https://github.com/unumux/willow/tree/master/components/icons" target="_blank">Documentation</a>
                </div>
                <div class="project-container--contrasted">
                    <span class="willow-icon willow-icon--menu"></span>
                    <span class="willow-icon willow-icon--menu-inverse"></span>
                    <span class="willow-icon willow-icon--menu-close"></span>
                    <span class="willow-icon willow-icon--menu-close-inverse"></span>
                    <span class="willow-icon willow-icon--close"></span>
                    <span class="willow-icon willow-icon--close-inverse"></span>
                    <span class="willow-icon willow-icon--info"></span>
                    <span class="willow-icon willow-icon--info-inverse"></span>
                    <span class="willow-icon willow-icon--success"></span>
                    <span class="willow-icon willow-icon--success-inverse"></span>
                    <span class="willow-icon willow-icon--warning"></span>
                    <span class="willow-icon willow-icon--warning-inverse"></span>
                    <span class="willow-icon willow-icon--error"></span>
                    <span class="willow-icon willow-icon--error-inverse"></span>
                </div>
            </div>
        </main>
    </div>
    <script src="../scripts/site.min.js"></script>

</body>
</html>