<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Demo Website</title>
    <link id="stylesheet" rel="stylesheet" href="../styles/styles.min.css">
</head>

<body>
    <div class="willow-page-container">
        <!-- FOR DEMO SITE : THEME CHANGING COMPONENT -->
        <div class="project-demo-controls">
            <div class="project-demo-controls__container">
                <button class="project-demo-controls__control" id="themeOne" data-stylesheet="styles">
                    <span class="project-key-symbol">1</span>Base Theme</button>
                <button class="project-demo-controls__control" id="themeTwo" data-stylesheet="unum">
                    <span class="project-key-symbol">2</span>Unum</button>
                <button class="project-demo-controls__control" id="themeThree" data-stylesheet="coloniallife">
                    <span class="project-key-symbol">3</span>Colonial Life</button>
                <button class="project-demo-controls__control" id="introDisplay">
                    <span class="project-info">?</span>
                </button>
            </div>
        </div>
        <div class="project-intro" id="demoIntro" data-is-open="false">
            <div class="container-fluid">
                <h1 class="project-intro__heading">Willow Demo Site</h1>
                <p>This site was built using the
                    <a href="https://github.com/unumux/willow" target="_blank">Willow library</a> and includes custom components.
                    <a href="https://github.com/unumux/willow-testing-site"
                        target="_blank">Fork the Github repo</a> to play with the code.</p>
                <p>Use the "Theme" buttons to switch between available themes. You can also use the 1, 2, and 3 number keys
                    for quick theme changing.</p>
            </div>
        </div>
        <!-- END THEME CHANGING COMPONENT -->
        <!-- SKIP NAV COMPONENT -->
        <div class="willow-skip-nav">
            <div class="container-fluid">
                <a href="#main" class="willow-skip-nav__link" aria-label="skip to main content">Skip to Content</a>
            </div>
        </div>
        <!-- PAGE HEADER COMPONENT -->
        <header class="willow-page-header" role="banner">
            <div class="container-fluid">
                <div class="willow-page-header__container">
                    <div class="willow-page-header__branding">
                        <!-- LOGO LINK -->
                        <a class="willow-logo-link" href="/willow-testing-site/" aria-label="go to home page">
                            <img class="willow-logo-link__image" src="https://via.placeholder.com/150x150" alt="">
                        </a>
                    </div>
                    <div class="willow-page-header__content-controls">
                        <a class="willow-page-header__content-open" aria-label="Open Menu" href="#">menu</a>
                        <a class="willow-page-header__content-close" aria-label="Close Menu" href="#">close</a>
                    </div>
                    <div class="willow-page-header__content">
                        <div class="willow-page-header__navigation">
                            <!-- PRIMARY NAV COMPONENT -->
                            <nav class="willow-primary-nav" role="navigation" aria-label="primary">
                                <h1 class="willow-primary-nav__heading sr-only">Site Primary Menu</h1>
                                <ul class="willow-primary-nav__list">
                                    <li class="willow-primary-nav__item">
                                        <a class="willow-primary-nav__link" href="/willow-testing-site/">Home</a>
                                    </li>
                                    <li class="willow-primary-nav__item">
                                        <a class="willow-primary-nav__link willow-primary-nav__link--active" href="/willow-testing-site/components.html">Components</a>
                                    </li>
                                    <li class="willow-primary-nav__item">
                                        <a class="willow-primary-nav__link" href="/willow-testing-site/example-pages.html">Example Pages</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- BREADCRUMB COMPONENT -->
        <nav class="willow-breadcrumbs" role="navigation" aria-label="breadcrumb">
            <div class="container-fluid">
                <h1 class="willow-breadcrumbs__heading sr-only">You are here:</h1>
                <ol class="willow-breadcrumbs__list">
                    <li class="willow-breadcrumbs__item">
                        <a class="willow-breadcrumbs__link" href="/willow-testing-site/" aria-label="">Home</a>
                    </li>
                    <li class="willow-breadcrumbs__item">
                        <a class="willow-breadcrumbs__link" href="/willow-testing-site/components.html" aria-label="">Components</a>
                    </li>
                    <li class="willow-breadcrumbs__item willow-breadcrumbs__item--active">Inline Alerts</li>
                </ol>
            </div>
        </nav>
        <!-- PAGE CONTENT COMPONENT -->
        <main class="willow-page-content" id="main" role="main">
            <div class="container-fluid">
                <div class="willow-styling-context">
                    <h1>Inline Alert</h1>
                    <a href="https://github.com/unumux/willow/tree/master/components/inline-alert" target="_blank">Documentation</a>
                    <h2>With Heading</h2>
                </div>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert" role="alert">
                    <h1 class="willow-alert__heading">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert willow-alert--positive" role="alert">
                    <h1 class="willow-alert__heading">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert willow-alert--warning" role="alert">
                    <h1 class="willow-alert__heading">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert willow-alert--negative" role="alert">
                    <h1 class="willow-alert__heading">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <div class="willow-styling-context">
                    <h2>With Heading Hidden (sr-only)</h2>
                </div>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert" role="alert">
                    <h1 class="willow-alert__heading sr-only">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert willow-alert--positive" role="alert">
                    <h1 class="willow-alert__heading sr-only">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert willow-alert--warning" role="alert">
                    <h1 class="willow-alert__heading sr-only">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
                <!-- INLINE ALERT COMPONENT -->
                <section class="willow-alert willow-alert--negative" role="alert">
                    <h1 class="willow-alert__heading sr-only">Heading Text</h1>
                    <div class="willow-alert__content">
                        <div class="willow-styling-context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit saepe, fugit minus
                                ipsam natus cum eaque vero, velit facere amet consequuntur exercitationem repellendus distinctio
                                qui, nemo quaerat quasi aspernatur?</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="../scripts/site.min.js"></script>

</body>

</html>