@import "overrides/overrides";
@import "stat/stat";


///////////// Banner Customizations
// sets banner icon for banner on any banner with icons (because they all have this class)
// could clean this up to target .willow-banner__icon instead since they all get the same image for this site
.project-banner-icon {
    background-image: url("http://via.placeholder.com/100x100");
}

// a "unique" icon for a specific page
// example-pages/example-one.html
.project-landing-page-icon {
    background-image: url("http://via.placeholder.com/150x150");
}

// adds a margin between two banners that would normally be touching
// components/banners.html
.project-banner-divider {
    margin-bottom: $space-l;
}

// changes the banner color for one banner
// index.html
.project-special-banner {
    background-color: $color-middle;
    color: $color-light;
}
///////////// End Banner Customizations

// container to keep table from breaking page width but allow table scrolling
.project-table-container {
    overflow: auto;
}

// background color for components/icons demo page
.project-container--contrasted {
    background-color: $color-middle;
    display: inline-block;
    padding: $space-inset;
    margin: $space-stack-l;
}

// an image component
// example-one.html
.project-image {
    margin: $space-stack-l;
    padding: $space;

    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
}

// a class for centering text
.project-centered {
    display: block;
    text-align: center;
}

// a class for adding space to a 
.project-disclaimer {
    margin: $space-stack;
}

// a container for adding a contrast background behind buttons that would
// otherwise disappear on a light background
.project-ghost-button-container {
    background-color: $color-middle;
    padding: $space-inset-l;

    &--inline {
        display: inline;
        margin: $space-inline-xs;
    }

    a, 
    button {
        margin: 0;
    }
}
