@import "overrides/overrides";
@import "stat/stat";
@import "callout-banner/callout-banner";
@import "image-banner/image-banner";
@import "image/image";
@import "dialog-form/dialog-form";
@import "disclaimer/disclaimer";
@import "table-container/table-container";

@import "demo-site-specific/demo-site-specific";

///////////// Banner Customizations
// a "unique" icon for a specific page
// example-pages/example-one.html
.project-landing-page-icon {
    background-image: url("../../assets/icons/info.svg");
}

// adds a margin between two banners that would normally be touching
// components/banners.html
.project-spacer {
    margin-bottom: $space-l;
}

// changes the banner color for one banner
// index.html
.project-banner-inverse {
    background-color: $color-willow-grey;
    color: $color-willow-black;
}
///////////// End Banner Customizations

// a class for centering text
// example-01.html
.project-centered {
    display: block;
    text-align: center;
}
