&__item {
    background-color: $component-list-group-background-color;
    border: 1px solid $component-list-group-border-color;
    border-radius: $component-list-group-border-radius;
    padding: $space-inset-l;
    margin: $space-stack-l;
}