// styles for my custom stat component
$component-project-stat-background-color: $theme-primary;
$component-project-stat-text-color: $theme-text-inverse;
$component-project-stat-special-background-color: $theme-accent-2;
$component-project-stat-special-text-color: $theme-text-tertiary;

.project-stat {
    background-color: $component-project-stat-background-color;
    color: $component-project-stat-text-color;
    padding: $space-inset-l;
    text-align: center;
    margin-top: $space;

    &--special {
        background-color: $component-project-stat-special-background-color;
        color: $component-project-stat-special-text-color;
    }

    &__highlight {
        @include set-text-style($text-style-heading-1);
        margin: 0;
    }

    &__label {
        font-weight: 600;
        margin: 0;
    }
}
