// styles for my custom stat component
$component-project-stat-background-color: $color-willow-black;
$component-project-stat-text-color: $color-willow-white;
$component-project-stat-special-background-color: $color-willow-grey;
$component-project-stat-special-text-color: $color-willow-white;

.project-stat {
    background-color: $component-project-stat-background-color;
    color: $component-project-stat-text-color;
    margin-top: $space;
    padding: $space-inset-l;
    text-align: center;

    &--special {
        background-color: $component-project-stat-special-background-color;
        color: $component-project-stat-special-text-color;
    }

    &__highlight {
        @include set-text-style($text-style-heading-1);
        margin: 0;
    }

    &__label {
        font-weight: 600;
        margin: 0;
    }
}
