&__content {
    @include compact;
    
    background-color: $color-willow-white;
    border-radius: 3px;
    color: $color-willow-black;
    margin-top: -$space-xxl;
    padding: $space-inset;
    
    @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
        box-shadow: 5px 8px 12px 0 $color-willow-black;
        margin-left: -$space-xxl;
        margin-top: 0;
        padding: $space-inset;
        width: 98%;
    }

    h2 {
        color: $color-willow-grey;
        margin: $space-stack-s;
    }

    p {
        margin: $space-stack;
    }
}