@import "./node_modules/@unumux/theme-coloniallife-default/styles";
@import "./node_modules/@unumux/willow/styles";

.home-banner {
    background-image: url(http://fillmurray.com/400/400);
}

.constricted {
    background-color: lightgrey;
    margin: 24px auto;
    padding: 24px;
    
    @media screen and (min-width: 992px) {
        width: 50%;
    };
}

.table-container {
    // margin-bottom: space(2);
    overflow: scroll;
}

.willow-card__image {
    background-image: url(http://fillmurray.com/200/300);
}

.willow-card__icon {
    background-image: url(http://fillmurray.com/80/80);
}